@page
@model StaffAccessManagerModel
<form method="post" id="staff-access-form">

    <!-- staff member selection -->
    <div class="container text-center">
        <h2>Staff Member</h2>
        @{ Html.RenderPartial("_StaffSelectPartial"); }
    </div>

    <!-- site selection -->
    <div class="container text-center">
        <h2>Site Access Required</h2>
        @{ Html.RenderPartial("_SiteSelectionPartial"); }
    </div>

    <!-- container for site cards -->
    <div class="container text-center">
        <h2>Area Access Required</h2>
        <div id="site-area-access-cards">
            <div id="site-cards-placeholder">Select a Site</div>
            <div id="site-area-access-cards-content"></div>
        </div>
    </div>

    <div class="form-group">
        <input id="staff-access-submit-button" type="submit" value="Save" class="btn btn-default" />
    </div>

</form>
