@page "{option?}"
@model OnSite.Pages.VisitManagerModel
@{
    ViewData["Title"] = "Visit Manager";
}

<!-- tabs to display approved or unapproved visits -->
<div class="tab">
    <button class="tab-button" id="unapproved-visits-tab" onclick="openVisitTab('unapproved-visits')">Unapproved</button>
    <button class="tab-button" id="approved-visits-tab" onclick="openVisitTab('approved-visits')">Approved</button>
</div>

<!-- unapproved contents -->
<div id="unapproved-visits">


    <!-- display a list of all the unapproved visitor names -->
    <!-- <div class="unapproved-sidebar"> -->
    <div class="sidenav">
        @foreach (var unapprovedVisit in Model.UnapprovedVisits)
        {
            <a>@Model.GetVisitorName(unapprovedVisit.VisitId)</a>
        }
    </div>

    <!-- display fields for editing/approving the currently selected visit -->
    <div class="row">
    <div class="main">
        <div class="col-md-4">
            <form method="post" id="sign-in-form" onsubmit="return isValidForm()">

                <!-- Fields for entering personal information -->

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="container text-center">
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="Visitor.FirstName" class="visitor-personal-label"></label>
                            <input id="firstNameInput" oninput="visitorIdentificationUpdated()" class="visitor-data-entry" asp-for="Visitor.FirstName" />
                            <span asp-validation-for="Visitor.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="Visitor.LastName" class="visitor-personal-label"></label>
                            <input id="lastNameInput" oninput="visitorIdentificationUpdated()" class="visitor-data-entry" asp-for="Visitor.LastName" />
                            <span asp-validation-for="Visitor.LastName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="Organisation.Name" class="visitor-personal-label"></label>
                            <div class="select-box">
                                <input asp-for="Organisation.Name" id="visitor-org-select" class="combobox-input" type="text" oninput="inputUpdated()">
                                <img src="../../images/down-arrow.png" class="combobox-arrow" onclick="showComboboxDropdown()">
                                <div id="combobox-options" class="combobox-options-container">
                                    @{
                                        var orgCount = 0;
                                        foreach (var org in Model.OrganisationList)
                                        {
                                            <div class="combobox-option" onclick="selectComboItem(@orgCount)">@org.Name</div>
                                            orgCount++;
                                        }
                                    }
                                </div>
                            </div>
                            <p id="sign-in-org-error" style="display: none; color: #b94a48">Invalid Entry.</p>
                            <select asp-for="Visitor.OrganisationId" asp-items="ViewBag.OrganisationId" style="display: none;"></select>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="Visitor.IdentificationNumber" class="visitor-personal-label"></label>
                            <input id=identificationNumberInput oninput="visitorIdentificationUpdated()" class="visitor-data-entry" asp-for="Visitor.IdentificationNumber" />
                            <span asp-validation-for="Visitor.IdentificationNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div><br>

                <!-- Fields to enter visit description and vehicle registration -->
                <div class="container text-center">
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="Visit.VehicleId" class="visitor-personal-label"></label>
                            <input asp-for="Visit.VehicleId" class="visitor-data-entry" />
                            <span asp-validation-for="Visit.VehicleId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-9">
                            <label asp-for="Visit.Description" class="visitor-personal-label"></label>
                            <input asp-for="Visit.Description" class="visitor-data-entry" />
                            <span asp-validation-for="Visit.Description" class="text-danger"></span>
                        </div>

                    </div>
                </div><br>

                <div class="form-group">
                    <input type="submit" value="Approve" class="btn btn-default" id="sign-in-submit" />
                </div>
            </form>

        </div>
    </div>
    </div>
</div>

<!-- approved contents -->
<div id="approved-visits">
    <h2>Approved</h2>

    <div class="row">
    <!-- create card using parial view for each visit -->
    @foreach (var visitor in Model.OnSiteVisitors)
    {
        Html.RenderPartial(
            "_CompleteSignInPartial",
            new ViewDataDictionary(this.ViewData) {
                { "VisitId", visitor.VisitId }
            }
        );
    }
    </div>
</div>
