body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #404040;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
    color: white;
    width: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

td {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

.selected {
    background-color: brown;
    color: #FFF;
}

.visitor-personal-info input, label {
    display: block;
}

.visitor-personal-label {
    text-align: left;
}

.visitor-data-entry {
    width: 100%;
}

/* items in drop down menu */
.ui-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
    background: white;
    border: 1px solid #bec1c6;
}

/* focus on item in drop down menu */
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    margin: -1px;
}

/* drop down button */
.ui-button-icon-only {
    width: 2em;
}

/* expand dropdown menu button */
.ui-button {
    border: 1px solid #c5c5c5;
    float: right;
}

/* combo box button - hover */
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #bec1c6;
}

/* expand drop down button */
span {
    position: relative;
    display: inline-block;
}

 .combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
}

/* text entry / drop down backgrounds */
.custom-combobox {
    color: #333333;
    background: white;
}

.custom-combobox {
    color: #333333;
    width: 100%;
}

.custom-combobox input {
    float: left;
    background: white;
    height: 2em;
    width: calc(100% - 2em);
}

.custom-combobox a {
    display: block;
    width: auto;
    min-width: 2em;
    right: 0;
}

/* elements in the drop down list */
.ui-state-active {
    border: 1px solid #003eff;
    background: #007fff;
    color: #ffffff;
}

/* cards displaying currently signed in visitors */
/* main card display */
.visitor-card {
    width: 530px;
    height: 300px;
    margin: 1rem;
    float: left;
    position: relative;
    background: white;
    color: black;
}

    /* cursor hovered over card */
    .visitor-card:hover {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }

    /* card title */
    .visitor-card h2 {
        margin: 0;
        padding: 0;
        top: 0;
        color: #fff;
        background: #3598DC;
}

/* tabs for changing between approved and unapproved visits */
/* tab panel */
.tab {
    overflow: hidden;
    background-color: #3598DC;
    width: 100%;
}

    /* tab buttons */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* button hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* button selected */
        .tab button.active {
            background-color: #ccc;
        }

/* tab contents */
#approved-visits, #unapproved-visits {
    display: none;
    padding: 6px 12px;
}
