body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #404040;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
    color: white;
    width: 100%;
}

h2 {
    text-align: left;
    background: #3598DC;
    padding: 8px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

td {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

.selected {
    background-color: #3598DC;
    color: #FFF;
}

.visitor-personal-info input, label {
    display: block;
}

input {
    color: black;
}

.visitor-personal-label {
    text-align: left;
}

.visitor-data-entry {
    width: 100%;
}

/* cards displaying currently signed in visitors */
/* main card display */
.visitor-card {
    width: 530px;
    height: 300px;
    margin: 1rem;
    float: left;
    position: relative;
    background: white;
    color: black;
}

    /* cursor hovered over card */
    .visitor-card:hover {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    }

    /* card title */
    .visitor-card h2 {
        margin: 0;
        padding: 0;
        top: 0;
        color: #fff;
        background: #3598DC;
}

/* tabs for changing between approved and unapproved visits */
/* tab panel */
.tab {
    overflow: hidden;
    background-color: #3598DC;
    width: 100%;
}

    /* tab buttons */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* button hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* button selected */
        .tab button.active {
            background-color: #ccc;
        }

/* tab contents */
#approved-visits, #unapproved-visits {
    display: none;
    padding: 6px 12px;
}

/* manage visits sitebar */
.sidenav {

    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 102px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;

}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        color: white;
        display: block;
    }

        .sidenav a:hover {
            color: #3598DC;
        }

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    height: 100%;
}

/* combo box */
.select-box {
    height: 26px;
    width: 100%;
    position: relative;
    z-index: 10000;
}

.combobox-arrow {
    position: absolute;
    right: 0;
    background: white;
    height: 28px;
    width: 28px;
}

.combobox-input {
    height: 27px;
    width: 140px;
    position: absolute;
    left: 0;
    width: calc(100% - 24px);
}

.combobox-options-container {
    position: absolute;
    border: 1px solid #7f9db9;
    height: 100px;
    background-color: #FFF;
    left: -1px;
    top: 25px;
    visibility: hidden;
    z-index: 1000;
    width: calc(100% - 24px);
    display: none;
    visibility: visible;
    overflow: auto;
}

.combobox-option {
    cursor: default;
    margin: 1px;
    overflow: hidden;
    color: black;
}

    .combobox-option:hover {
        background: #c6c6c6;
    }

/* Staff member / site selection panel */
.staff-select-panel, .site-select-panel {
    border: 1px solid #fff;
}

#staff-select-search, #site-select-search {
    margin-top: 5px;
    width: calc(100% - 10px);
}

#staff-table-container, #site-table-container {
    border: 1px solid white;
    margin: 5px;
    height: 180px;
    overflow-y: scroll;
}

#select-staff-table, #site-select-table {
    width: 100%;
    background: #7c7c7c;
}

/* area cards on staff area access page */
#site-area-access-cards {
    border: 1px solid white;
    overflow-y: scroll;
    background: #7c7c7c;
    height: 322px;
}


.area-access-card {
    width: 360px;
    height: 300px;
    margin: 1rem;
    float: left;
    position: relative;
    background: white;
    color: black;
    margin-left: 10px;
    margin-right: 0px;
}

    /* card title */
    .area-access-card h2 {
        margin: 0;
        padding: 0;
        top: 0;
        color: #fff;
        background: #3598DC;
    }