@page
@model OnSite.Pages.ManageVisits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Visit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Visit.Description" class="control-label"></label>
                <input asp-for="Visit.Description" class="form-control" />
                <span asp-validation-for="Visit.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.SignInTime" class="control-label"></label>
                <input asp-for="Visit.SignInTime" class="form-control" />
                <span asp-validation-for="Visit.SignInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.SignOutTime" class="control-label"></label>
                <input asp-for="Visit.SignOutTime" class="form-control" />
                <span asp-validation-for="Visit.SignOutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.VehicleId" class="control-label"></label>
                <input asp-for="Visit.VehicleId" class="form-control" />
                <span asp-validation-for="Visit.VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit.VisitorId" class="control-label"></label>
                <select asp-for="Visit.VisitorId" class ="form-control" asp-items="ViewBag.VisitorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.BadgeId" class="control-label"></label>
                <select asp-for="Visit.BadgeId" class ="form-control" asp-items="ViewBag.BadgeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.SignedInById" class="control-label"></label>
                <select asp-for="Visit.SignedInById" class ="form-control" asp-items="ViewBag.SignedInById"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.StaffEscortId" class="control-label"></label>
                <select asp-for="Visit.StaffEscortId" class ="form-control" asp-items="ViewBag.StaffEscortId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.UnescortedApprovedById" class="control-label"></label>
                <select asp-for="Visit.UnescortedApprovedById" class ="form-control" asp-items="ViewBag.UnescortedApprovedById"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.SiteId" class="control-label"></label>
                <select asp-for="Visit.SiteId" class ="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visit.AreaId" class="control-label"></label>
                <select asp-for="Visit.AreaId" class ="form-control" asp-items="ViewBag.AreaId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Visit.ApprovalStatus" /> @Html.DisplayNameFor(model => model.ApprovalStatus))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
